
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

@import url("colors/color-red.css");


/* #movil
================================================== */
@media only screen and (min-width: 768px) {
	.movil {
		display: none !important
	}

}

/* #escritorio
================================================== */
@media only screen and (max-width: 767px) {
	.escritorio {
		display: none !important
	}
}

/* #Panel
================================================== */
#switch {
	background: #fff;
	position: fixed;
	display: none;
	top: 126px;
	z-index: 99999;
	width:200px;
	margin-left: -100px;
	border-radius: 0 5px 5px 0;
			font-family: 'OpenSans-Light-webfont';
	-webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}
#switch p {
	margin-bottom: 10px; padding-bottom: 15px; padding-top: 5px; border-bottom:#ededed 1px solid;
}
#switch ul li {
	text-transform:uppercase;margin-bottom:0;font-size:12px; display:inline-block;
}
#show {
		z-index: 99999;
		margin-left:0px;
		position:fixed;left:0;
		top:20%;
		background: rgba(40,40,40,.8);
		border-radius:0 3px 3px 0;
		margin-top:10px;
		padding: 20px 5px ;
		cursor: pointer;
	}
#hide {
	cursor:pointer;line-height:13px;margin-bottom:0px;font-size: 12px;margin-bottom: 0px;
}
#setting {
	height: 50px;
	background-image: url('../images/option_panel.png');
	background-repeat:no-repeat;
	background-size:20px 50px;
	width: 20px;
}
.wrap_pattern,.switchlayout {
	margin-bottom:10px;
}
.wrap_pattern p {
	margin-bottom: 5px!important;
}
.content-switcher{
	padding: 16px;
	overflow: hidden;
}
.content-switcher .m-btn{
	padding: 5px 10px;
	font-size: 12px;
	min-width: 70px;
}
.button.small.color.switch {
	font-size: 12px;
	text-transform: none;
	width: 40px;
	margin: 5px 0px;
	font-weight: normal;
	font-family: 'Open Sans';
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) !important;
	letter-spacing: 0;
}
#hide {
	position:absolute;
	background-color:#fff;
	height:30px;
	width:30px;
	top:7px;
	right:7px;
	border-radius: 0 5px 0px 0;

}
#hide img {
	height:30px;
	width:30px;
	opacity:0.3;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
#hide img:hover {
	opacity:0.7;
}
#switch .button {
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-left:5px;
    margin-top:5px;
	height: 15px;
    padding: 5px;
    width: 15px;
	color:#000;
}
#switch p {
	margin:5px 0;
}
.styled-select select {
   background:#f5f5f5;
   border:#ededed 1px solid;
   width: 270px;
   padding: 5px;
   font-size: 13px;
   line-height: 1;
   outline:none;
   border-radius: 3px;
   height: 34px;
   -webkit-appearance: none;
   margin:10px 0;
}
.home-options {
	position:relative;
	width:100%;
	margin-top:10px;
   text-align:center;
   margin:0 auto;
}
.home-options a{
   background:#f5f5f5;
   border:#ededed 1px solid;
   font-size: 13px;
   padding: 5px 30px;
   line-height:40px;
   outline:none;
   text-align:center;
   color:#000;
}
.home-options a:hover{
   background:#f1f1f1;
}

/* #PAGE LOAD */
body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: 'kremlin', sans-serif;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 80px;
    width: 180px;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    color: #FFFFFF;
    position: absolute;
	font-family: 'kremlin', sans-serif;
	font-weight: 800;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    letter-spacing: 3px;
    font-size: 36px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}

/* #Navigation
================================================== */
#menu-wrap{
  position: fixed;
	padding-bottom:10px;
	width:100%;
	z-index:1000;
	top:0;
	left:0;
}
.menu-back{
	background:rgba(60,60,60);
}

.cbp-af-header {
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}
.cbp-af-header.cbp-af-header-shrink {
	background:rgba(60,60,60,1);
}
.cbp-af-header.cbp-af-header-shrink .logo{
	width:116px;
	height:60px;
	background:url('../images/logo.png') no-repeat center center;
	background-size:116px 60px;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu {
	margin-top:1px;
	margin-bottom:0;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li:first-child {
	background:none;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li ul li:first-child {
	background:none; }
ul.slimmenu li ul li a {
    color: #fff;
}
ul.slimmenu li ul li a:hover {
}
ul.slimmenu li ul li {
	background:none;
	padding-left:0; }
ul.slimmenu li ul {
	background:rgba(41,41,41,.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.logo{
	position:absolute;
	width:146px;
	height:80px;
	z-index:10000;
	left:10px;
	top:10px;
	background:url('../images/logo.png') no-repeat center center;
	background-size:146px 80px;
}
.menu-collapser {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}
ul.slimmenu {
	padding-top:10px;
	padding-right:10px;
	text-align:right;
	margin-top:13px;
	margin-bottom:10px;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
	background:url('../images/line1.png') 0 14px no-repeat;
	background-size:15px 10px;
	padding-left:20px;
}
ul.slimmenu > li {}
ul.slimmenu > li:first-child {
	border-left: 0
}
ul.slimmenu > li:last-child {
	margin-right: 0
}
ul.slimmenu li a {
    display: block;
    color: #fff;
    padding: 10px 0px;
	cursor:pointer;
    margin: 0px 12px;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	text-transform:uppercase;
    border-bottom:1px solid rgba(0,0,0,0);
    font-size: 12px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
ul.slimmenu li a:hover {
    text-decoration: none;
}
ul.slimmenu li {
}
ul.slimmenu li:first-child {
	background:none;
}
ul.slimmenu li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
	display:none;
}
ul.slimmenu li .sub-collapser > i {
	display:none;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul a{
    font-size:10px;
}
ul.slimmenu li ul li:first-child {
	background:none; }
ul.slimmenu li ul li {
	background:none;
	padding-left:0; }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
	text-align:left;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 150%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}
.tipper {
	height: 1px; left: -99999px; position: absolute; pointer-events: none; top: -99999px; width: 1px;z-index:100000;
}
.tipper .tipper-content {
	background: rgba(0, 0, 0, 0.85);box-shadow: 0 0 25px rgba(0,0,0,0.5);text-transform:uppercase; border-radius: 3px; color: #fff; display: block; float: left; font-family: 'Lato', sans-serif; font-size: 10px; margin: 0; padding: 6px 20px; position: relative; white-space: nowrap;
}
.tipper .tipper-caret {
	background: url('../images/tipper-icon.png') no-repeat; display: block; height: 11px;  position: absolute; width: 100%;
}
.tipper.right .tipper-content {
	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
}
.tipper.right .tipper-caret {
	background-position: left center; left: -5px; top: 0;
}
.tipper.left .tipper-content {
	box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25);
}
.tipper.left .tipper-caret {
	background-position: right center; right: -5px; top: 0;
}
.tipper.top .tipper-caret,
.tipper.bottom .tipper-caret {
	display: block; float: none; height: 5px;  width: 12px;margin-left:-6px;
}
.tipper.top .tipper-content {
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
}
.tipper.top .tipper-caret {
	background-position: center bottom; bottom: -5px; left: 0; text-align:center;
}
.tipper.bottom .tipper-content {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.tipper.bottom .tipper-caret {
	background-position: center top; top: -5px; left: 0;
}

/* #Home
================================================== */
#home {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
.big-text {
	position: absolute;
	top: 50%;
	margin-top:-30px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:;
	text-align:center;
	font-weight:700;
	font-size: 50px;
	line-height:50px;
	color: #ededed;
	z-index: 20;
}
.big-text span{
	background: rgba(0,0,0,.3);
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
}
.small-text {
	position: absolute;
	top: 50%;
	margin-top:55px;
	color:#fff;
	width: 100%;
	font-family: 'Satisfy', cursive;
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-align:center;
	font-size: 30px;
	line-height:23px;
	z-index: 20;
}
.small-text span{
	background: rgba(0,0,0,.3);
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
}
.flippy {
	position: relative;
}
.flippy > * {
	position: absolute;
	opacity: 0;
	width:100%;
	top:-100px;
}
.flippy > *:first-child {
	opacity: 1;
	top: 0;
}
.social-top{
	position:absolute;
	top:50%;
	margin-top:110px;
	width:100%;
	z-index:1002;
	height:30px;
	text-align:center;
}
.list-social li {
  padding:0;
  list-style: none;
	text-align:center;
	width:40px;
  display: inline-block;
	background:#000000;
	cursor:pointer;
	margin-left:2px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.list-social li.icon-soc a {
	width:40px;
	height:40px;
	text-align:center;
	font-family: 'FontAwesome';
	font-size: 25px;
	line-height: 50px;
	opacity:1;
	margin:0;
	padding:5;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.list-social li:hover{
}
.list-social li:hover.icon-soc a{
	opacity:.6;
}

.parallax-home {
	background: url('../images/1.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}

@medi only screen and (min-width: 1930px) {
	.parallax-home { background-size: cover;
	}
}
@medi only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax-home {
		background-size: cover; background-attachment: scroll; background-position: top center!important;
	}
}
@medi only screen and (max-width: 959px) {
	.parallax-home {
		background-size: cover; background-attachment: scroll; background-position: top center!important;
	}
}

/* #Slider
================================================== */
#gallery {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	left: 0;
}
#controls div {
}
#controls div:hover:not(.counter) {
}
#controls div:not(.counter) {
}
#controls div.sel {
}
.prev {
	top:50%;
	margin-top:10px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-left.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	left:150px;
	width:31px;
	height:58px;
	z-index:100000;
}
.next {
	top:50%;
	margin-top:10px;
	position:absolute;
	cursor:pointer;
	opacity:.4;
	background:url('../images/arrow-right.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	right:150px;
	width:31px;
	height:58px;
	z-index:100000;
}
.prev:hover, .next:hover {
	opacity:.7;
}
.prev:active, .next:active {
	opacity:.7;
}
.just_pattern {
	background-image: url(../images/pattern.png);
	position: absolute;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.scroll-btn {
	position: absolute;
	font-family: 'OpenSans-Light-webfont';
	font-size: 10px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	bottom:30px;
	left:50%;
	margin-left:-30px;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	width: 60px;
	height:40px;
	background:url('../images/arrow-down.png') no-repeat center bottom;
	background-size:30px 16px;
	z-index: 3900;
	opacity:.8;
}
.scroll-btn {
    -webkit-animation: arrows 3.8s infinite;
    -webkit-animation-delay: 1s;
    animation: arrows 3.8s infinite;
    animation-delay: 1s;
}
@keyframes arrows {
  0% { bottom:30px; }
  10% { bottom:40px; }
  20% { bottom:30px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:30px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:30px; }
}
@-webkit-keyframes arrows {
  0% { bottom:30px; }
  10% { bottom:40px; }
  20% { bottom:30px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:30px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:30px; }
}

/* #About
================================================== */
#about{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background:#292929;
	overflow:hidden;
	padding-top:50px;
	padding-bottom:70px;
	z-index:2;
}
#about h6 {
	text-align:left;
	padding-bottom:25px;
}
h1 span:before  {
	content:'-';
	padding-right:10px;
	font-weight: 100;
}
h1 span:after  {
	content:'-';
	padding-left:10px;
	font-weight: 100;
}
h5:before  {
	content:'-';
	padding-right:10px;
	font-weight: 100;
}
h5:after  {
	content:'-';
	padding-left:10px;
	font-weight: 100;
}
.head-subtext {
	text-align:center;
	padding-top:30px;
	padding-bottom:40px;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size: 17px;
	line-height:22px;
	color:#737373;
}
#about .head-subtext {
	padding-bottom:30px;
}
#work .head-subtext {
	padding-bottom:30px;
}
svg {
	pointer-events: none;
}
.drawings {
	position: relative;
	max-height: 600px;
}
.illustration {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.show {
	opacity: 1;
}
.hide {
	opacity: 0;
	display: none;
}
.line-drawing,
.illustration {
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}
.line-drawing path {
	fill: none;
	stroke-width: 1;
}
path.line-round {
	stroke-linecap: round;
}
path.stroke-medium {
	stroke-width: 2;
}
path.stroke-thin {
	stroke-width: 1;
}

 /* #The team
================================================== */
#team{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:50px;
	padding-bottom:70px;
	z-index:2;
}
#team h6 {
	text-align:center;
	padding-bottom:25px;
}
#team img{
	width:100%;
	height:auto;
	display:block;
	margin: 0 auto;
	text-align:center;
	  -webkit-transition: all 300ms linear;
	  -moz-transition: all 300ms linear;
	  -o-transition: all 300ms linear;
	  -ms-transition: all 300ms linear;
	  transition: all 300ms linear;
}
#team img:hover{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.flipWrapper {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	text-align:center;
}
.flipWrapper .card.flipped {
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.flipWrapper .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	margin: 0 auto;
	text-align:center;
}
.flipWrapper .card .face {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	position: absolute;
	margin: 0 auto;
	text-align:center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
}
.flipWrapper .card .front {
	position: absolute;
	z-index: 1;
	color: white;
	cursor: pointer;
}
.flipWrapper .card .back {
	-webkit-transform: rotatey(-180deg);
	-moz-transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg);
	-o-transform: rotatey(-180deg);
	transform: rotatey(-180deg);
	background:#383838;
	cursor: pointer;
	width:100%;
	height:100%;
	padding:0;
}
.flipWrapper .card .back p{
	padding-top:20px;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}
.flipWrapper .card .back p:last-child{
	padding-top:10px;
}
.social-team{
	position:absolute;
	left:20px;
	bottom:20px;
	z-index:5;
}
.team-social li {
	margin:0 auto;
    list-style: none;
	text-align:center;
    display: inline-block;
	cursor:pointer;
	width:30px;
	height:16px;
}
.team-social li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 16px;
	margin:0 auto;
	text-align:center;
	padding-right:15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.team-social li:last-child.icon-team a{
	padding-right:0;
}
.team-social li:hover{
}
.team-social li:hover.icon-team a{
	opacity:.6;
}

/* #Sep sections
================================================== */
#sep{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:150px;
	padding-bottom:150px;
}
#sep1{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:0px;
}
.z-index{
	z-index:5;
}

/* #testimonials section
================================================== */
.test{
	position:relative;
	width:100%;
	z-index:100;
	text-align:center;
	margin:0 auto;
}
.test h6{
	font-family: 'OpenSans-Light-webfont';
	font-size: 16px;
	line-height:22px;
	padding-bottom:25px;
	padding-top:15px;
	color:#fff;
}
.test p{
	padding-bottom:10px;
	font-size: 90%;
	text-align:center;
	color:#fff;
}
.test span{
	border-top:1px solid rgba(255,255,255,.7);
	padding-top:5px;
}
.icon-test  {
	position:relative;
	font-family: 'FontAwesome';
	font-size: 26px;
	line-height: 26px;
	height: 26px;
	width:100%;
	margin:0 auto;
	padding-bottom:20px;
	text-align:center;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper{
	position:relative;
	width:100%;
}
.bx-wrapper .bx-prev {
	left: 50%;
	margin-left:-35px;
	bottom:-40px;
	background:url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.bx-wrapper .bx-next {
	right:50%;
	margin-right:-35px;
	bottom:-40px;
	background:url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.bx-wrapper .bx-prev:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.bx-wrapper .bx-next:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.facts-wrap{
	position: relative;
	width: 100%;
	margin:0 auto;
	text-align:center;
}
.facts-wrap h6{
	padding-top:15px;
	color:#fff;
}
.facts-line{
	position: absolute;
	width: 1px;
	background:#fff;
	opacity:.2;
	right:-10px;
	top:30px;
	bottom:30px;
	z-index:20;
}
.facts-wrap-num{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 80px;
	line-height:80px;
	text-shadow: 0px -2px 0px rgba(51,51,51,.1), 0px 2px 3px rgba(102,102,102,.1);
	width:100%;
	text-align:center;
	opacity:.9;
}
.parallax {
	background: url('../images/parallax/1.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
.just_pattern1 {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,.9)));
	background: -webkit-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));
	background: -moz-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));
	background: -ms-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));
	background: radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));
	position: absolute;
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
@media only screen and (min-width: 1930px) { .parallax { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
.parallax1 {
	background: url('../images/parallax/2.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax1 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax1 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
#action {
	position: relative;
	width: 100%;
	background:rgba(0,0,0,.3);
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0px;
	z-index:200;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
#action:hover {
	background:rgba(0,0,0,.5);
}
#action h6 {
	color: #fff;
}
#action p {
	padding-top:10px;
	text-align:center;
	text-transform:uppercase;
}

/* #testimonials section
================================================== */
#contact{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:100px;
}
.parallax2 {
	background: url('../images/parallax/equipo.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax2 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax2 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
.contact-wrap{
	position: relative;
	margin: 0 auto;
	overflow:hidden;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:40px;
	padding-right:40px;
	background:rgba(0,0,0,.4);
}
.contact-wrap h6{
	padding-bottom:25px;
	text-align:center;
	color:#fff;
}
.contact-wrap p{
	padding-bottom:30px;
	text-align:center;
	color:#fff;
	opacity:.8;
}
.contact-wrap p span{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size: 20px;
	line-height: 20px;
	text-transform:uppercase;
	padding-right:10px;
	font-weight: 800;
}
.icon-contact1{
	font-family: 'FontAwesome';
	font-size: 20px;
	line-height: 20px;
	text-align:center;
	z-index:6;
	padding-right:10px;
}
.contact-wrap p:last-child{
	padding-bottom:0;
}
#ajax-form {
		width: 100%;
		font-family: 'OpenSans-Light-webfont';
		font-size: 10px;
		line-height:14px;
	color:#fff;
	margin:0 auto;text-transform:uppercase;
	}
	label {
		display: block;
		font-family: 'OpenSans-Light-webfont';
		font-size: 14px;
		line-height:32px;
	}
	input{
		width: 96%;
		border:none;
		margin-bottom:10px;
		font: 13px/22px 'Open Sans', sans-serif;
		padding-top: 5px;
		padding-bottom: 5px;
	background: rgba(0,0,0,0);
	}
	textarea {
		width:96%;
		font: 13px/22px 'Open Sans', sans-serif;
		height:90px;
		margin-top:2px;
		padding-top: 5px;
		padding-bottom: 5px;
		border:none;
	background: rgba(0,0,0,0);
	}
	.error {
		font: 10px/22px 'Open Sans', sans-serif;
		text-transform:uppercase;
		display: none;
		color:#fff;
	}
#ajaxsuccess {
	background: #f5f5f5;
	color:#000;
	font: 20px/60px 'Open Sans', sans-serif;
	height:60px;
	display: none;
	padding-left:10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#button-con {
	position:relative;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
}
#button-con button{
	width:100%;
	height:40px;
	padding-top:0;
	margin:0 auto;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height:40px;
	color:#fff;
	background: rgba(0,0,0,.4);
	text-transform:uppercase;
 }
#button-con button:hover{
	background: rgba(0,0,0,.6);
 }
#button-con button:focus{
    outline: none !important;
 }
.text-align-center{
	text-align:center;
	padding-top:10px;
 }
	#ajax-form textarea:active,
	#ajax-form input:active {
	  color: #fff;
	border-bottom:1px solid rgba(100,100,100,.3);}
	#ajax-form textarea:active,
	#ajax-form input:hover {
	  color: #fff;
	border-bottom:1px solid rgba(255,255,255,.3);}
		#ajax-form textarea:focus,
	#ajax-form input:focus {
    outline: none !important;
    border-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px rgba(0,0,0,.4);}
	#ajax-form textarea,
	#ajax-form input {
	  color: #fff;
	border-bottom:1px solid rgba(255,255,255,.3);}
#ajax-form input[type="text"]{
	padding-left:2%;
	padding-right:2%;
}
#ajax-form input[type="text"], textarea{
	padding-left:2%;
	padding-right:2%;
}
#google_map {
	-webkit-filter: grayscale(90%);
	-moz-filter: grayscale(90%);
	-ms-filter: grayscale(90%);
	-o-filter: grayscale(90%);
	filter: grayscale(90%);
	filter: url(../images/grayscale.svg#greyscale);
	filter: gray; /* IE 6-9 */
}
#google_map {
	width:100%;
	height:400px;
	z-index:0;
	position:relative;
	display: none;
	z-index:200;
	opacity:.8;
}
.button-map {
	margin-top:50px;
  cursor: pointer;
  text-align: center;
  position: relative;
  width: 100%;
  display: block;
  color: #fff;
  background: rgba(0,0,0,.3);
  font-size: 16px;
	font-family: 'Montserrat', sans-serif;
  text-transform:  uppercase;
  padding: 30px 0;
	z-index:200;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.button-map:hover {
  background: rgba(0,0,0,.7);
  color: #fff;
}
.map-tooltip h6 {
	color: #292929;
	text-transform: uppercase;
	margin-left:20px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.map-tooltip p {
	margin-bottom: 10px;
	margin-left:20px;
	font-size: 13px;
	text-align:center;
}

/* #footer
================================================== */

#footer{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background:#101010;
	padding-top:60px;
	padding-bottom:35px;
}
#footer .back-top{
	position: absolute;
	cursor:pointer;
	top:-10px;
	left:90%;
	margin-left:-20px;
	width:40px;
	height:40px;
	text-align:center;
	z-index:10000;
	font-size: 22px;
	line-height: 40px;
	background:#000000;
	-webkit-box-shadow: 0 -5px 15px -5px #000;
	-moz-box-shadow: 0 -5px 15px -5px #000;
	box-shadow: 0 -5px 15px -5px #000;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#footer .back-top:hover{
	background:#101010;
	-webkit-box-shadow: 0 -5px 5px -5px #000;
	-moz-box-shadow: 0 -5px 5px -5px #000;
	box-shadow: 0 -5px 5px -5px #000;
}
#footer p{
	text-transform:uppercase;
	font-size: 12px;
	line-height:22px;
	text-align:center;
	padding-bottom:5px;
}
.icon-footer{
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 22px;
	text-align:center;
	z-index:6;
	padding-left:5px;
	padding-right:5px;
}

/* #work
================================================== */
#work{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background:#292929;
	overflow:hidden;
	padding-top:50px;
	z-index:2;
}
.portfolio-wrap{
	position: relative;
	width: 100%;
	overflow:hidden;
}

.portfolio-box{
	position: relative;
	width: 25%;
	overflow:hidden;
	display:inline-block;
	float:left;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-box img{
	width: 100%;
	height:auto;
	display:block;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-box:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-box .mask{
	position:absolute;
	background:rgba(0,0,0,.7) url('../images/cross1.png') no-repeat center center;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display:block;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-box:hover .mask{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.portfolio-box h4{
	position:absolute;
	top:20px;
	left:-100px;
	z-index:100;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid rgba(255,255,255,.4);
	opacity:0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.portfolio-box:hover h4{
	left:20px;
	opacity:1;
	-webkit-transition-delay:300ms;
	-moz-transition-delay:300ms;
	-o-transition-delay:300ms;
	-ms-transition-delay:300ms;
	transition-delay:300ms;
}

.portfolio-box-movil {
	padding-bottom: 10px;
}
.portfolio-box-movil img{
	width: 100%;
	height:auto;
	display:block;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-box-movil .mask{
	position:absolute;
	background:rgba(0,0,0,.7) url('../images/cross1.png') no-repeat center center;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display:block;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-box-movil:hover .mask{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.portfolio-box-movil h4{
	position:absolute;
	top:20px;
	left:-100px;
	z-index:100;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 12px;
	line-height:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border:1px solid rgba(255,255,255,.4);
	opacity:0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.portfolio-box-movil:hover h4{
	left:20px;
	opacity:1;
	-webkit-transition-delay:300ms;
	-moz-transition-delay:300ms;
	-o-transition-delay:300ms;
	-ms-transition-delay:300ms;
	transition-delay:300ms;
}

#portfolio-filter {
	position:relative;
	width:100%;
	text-align: center;
}

#filter {
	position:relative;
	width:100%;
}
#filter li {
	display: inline-block;
}
#filter li a {
	position: relative;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	outline: none;
	color: #706e6e;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	margin-left:8px;
	margin-right:8px;
	margin-bottom:30px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#filter li a:after {
	content:'::::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px;
	color: #706e6e;
	padding-left:20px;
	opacity:.5;
}
#filter li:last-child a:after {
	display:none;
}
#filter li .current {
	color: #bdb3b3;
}
#filter li a:hover {
	color: #bdb3b3;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/* #Projects
================================================== */
/* Expander Item Styles */
.relative{
	position: relative;
}
.portfolio{
	width:100%;
	height: auto;
	margin:0 auto;
	max-width: 960px;
}
.expander-wrap {
	position:relative;
	display: none;
	text-align: center;
}
#expander-wrap{
	position: relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
	overflow: hidden;
}

/* Expander Item Controls */
.project-controls{
	position: relative;
	width:100%;
	height: auto;
	top:105px;
	max-width: 960px;
	margin:0 auto;
}
.expander-inner{
	position: relative;
}
.cls-btn{
	width:100%;
	padding: 0;
	margin: 0 auto;
	display: block;
	height: auto;
}
.expander-wrap .cls-btn .close {
	position:relative;
	display: inline-block;
	color:#fff;
	top:0;
	margin-top:105px;
	width:auto;
	height:auto;
	font-size:30px;
	font-weight:100;
	text-align:center;
	cursor: pointer;
	float:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.expander-close:hover {
	color:#3a3a3a;
	cursor:pointer;
}
.just_pattern11 {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,.4)));
	background: -webkit-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));
	background: -moz-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));
	background: -ms-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));
	background: radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));
	position: absolute;
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#project-single-slider{
	position: relative;
	top: 120px;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
	padding-top:10px;
	padding-bottom:150px;
}
#project-single-slider h1{
	color:#fff;
}
#project-single-slider .bx-wrapper .bx-prev {
	bottom:20px;
}
#project-single-slider .bx-wrapper .bx-next {
	bottom:20px;
}
#last-work{
	position: relative;
	margin: 0 auto;
	padding-bottom:20px;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#last-work img{
	width: 100%;
	height:auto;
	display:block;
}
#last-work h2{
	text-align:center;
	padding-bottom:25px;
}
#last-work h6{
	text-align:left;
	padding-bottom:25px;
}
#last-work p{
	text-align:left;
	padding-bottom:30px;
}
#last-work p:last-child{
	padding-bottom:0;
}
#slider-wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#slider-wrap img{
	width: 100%;
	height:auto;
	display:block;
}
.padding-project{
	padding-top:50px;
	padding-bottom:50px;
}
#sep8 .z-index{
	z-index:2000;
}
#sep8{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:150px;
	padding-bottom:150px;
	z-index:2;
}
.parallax8 {
	background: url('../images/projects/16.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax8 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax8 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax8 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
#project-single-video{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#project-single-video h1{
	color:#fff;
}
#thevideo{
	display:none;
}
.video{
	width: 100%;
	height:auto;
	display:block;
}
iframe{
	width:100%;
	height:auto;
	display:block;
}
#sep9 .z-index{
	z-index:2000;
}
#sep9{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:150px;
	padding-bottom:150px;
	z-index:2;
}
.parallax9 {
	background: url('../images/projects/26.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax9 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax9 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax9 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}

/* #services
================================================== */
#services{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:70px;
	padding-bottom:70px;
	z-index:2;
}
.last-services{
	position: relative;
	margin: 0 auto;
	padding:20px;
	background-color:#292929;
	background-image:url('../images/qud1.png');
	background-repeat:no-repeat;
	background-position:top right;
	overflow:hidden;
	z-index:2;
	cursor:pointer;
	-webkit-transition: background-image .35s ease-in-out;
	-moz-transition: background-image .35s ease-in-out;
	-ms-transition: background-image .35s ease-in-out;
	-o-transition: background-image .35s ease-in-out;
	transition: background-image .35s ease-in-out;
}
.last-services:hover{
	background-image:url('../images/qud2.png');
}
.last-services h6{
	position:relative;
	display:inline-block;
	padding-left:15px;
	text-align:left;
	padding-bottom:25px;
}
.last-services p{
	text-align:left;
}
.icon-left1{
	position:relative;
	display:inline-block;
	font-family: 'FontAwesome';
	line-height:32px;
	font-size:22px;
	text-align:left;
	z-index:6;
	width:22px;
	height:32px;
}
.last-services1{
	position: relative;
	margin: 0 auto;
	padding:20px;
	background-color:#292929;
	background-image:url('../images/qud.png');
	background-repeat:no-repeat;
	background-position:top left;
	overflow:hidden;
	text-align:right;
	z-index:2;
	cursor:pointer;
	-webkit-transition: background-image .35s ease-in-out;
	-moz-transition: background-image .35s ease-in-out;
	-ms-transition: background-image .35s ease-in-out;
	-o-transition: background-image .35s ease-in-out;
	transition: background-image .35s ease-in-out;
}
.last-services1:hover{
	background-image:url('../images/qud2.png');
}
.last-services1 h6{
	position:relative;
	display:inline-block;
	padding-right:15px;
	text-align:right;
	padding-bottom:25px;
}
.last-services1 p{
	text-align:right;
}
.icon-right1{
	position:relative;
	display:inline-block;
	font-family: 'FontAwesome';
	line-height:32px;
	font-size:22px;
	text-align:right;
	z-index:6;
	width:22px;
	height:32px;
}

/* #pricing
================================================== */
#pricing{
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	background:#292929;
	padding-top:50px;
	padding-bottom:70px;
	z-index:2;
}
.services-offer{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background:#363636;
	margin-top:13px;
	margin-bottom:13px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.services-offer:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
	-webkit-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
	-moz-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
  box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);
}
.services-offer:hover h6,
.services-offer:hover p,
.services-offer:hover .services-icon1:before,
.services-offer:hover .services-icon2:before,
.services-offer:hover .services-icon3:before{
}
.services-offer h6{
	text-align:center;
	padding-top:20px;
	padding-bottom:25px;
}
.services-offer p{
	text-align:center;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
.services-offer .services-icon{
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:54px;
	line-height: 60px;
	height: 60px;
}
.services-offer .services-icon:before{
	position: absolute;
	top:0;
	left:-40px;
	font-family: 'Open Sans', sans-serif;
	content: "$";
	width: 100%;
	font-size:20px;
	line-height: 20px;
	display: block;
	z-index: 1;
}
.no-touch.cssanimations .services-offer .services-icon:before {
	-webkit-animation: dollar 6s linear infinite;
	-moz-animation: dollar 6s linear infinite;
	animation: dollar 6s linear infinite;
}
.services-list p {
	margin: 10px 0 10px 0;padding:0;
}
.list-services li {
    list-style: none;
    margin:0 auto;
    text-align: center;
	border-top:1px dashed rgba(100,100,100,.4);
	margin-left:20px;
	margin-right:20px;
	font-size: 10px;
	text-transform:uppercase;
}
.list-services li:last-child {
	border-bottom:1px dashed rgba(100,100,100,.4);
}
.services-offer:hover .list-services li{
	border-top:1px dashed rgba(100,100,100,.4);
}
.services-offer:hover .list-services li:last-child{
	border-bottom:1px dashed rgba(100,100,100,.4);
}
.services-offer .services-link{
	position: relative;
	margin: 0 auto;
	padding:20px 15px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	background:#414141;
	font-size:14px;
	line-height: 14px;
	text-transform:uppercase;
	cursor:pointer;
	margin-top:20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.services-offer .services-link:hover{
}
.featured{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
@keyframes dollar {
    0% { top:0; }
    10% { top:10px; }
    20% { top:0; }
    30% { top:10px; }
    40% { top:-5px; }
    50% { top:10px; }
    60% { top:0; }
    70% { top:10px; }
    80% { top:-5px; }
    90% { top:10px; }
    100% { top:0; }
  }
@-webkit-keyframes dollar {
    0% { top:0; }
    10% { top:10px; }
    20% { top:0; }
    30% { top:10px; }
    40% { top:-5px; }
    50% { top:10px; }
    60% { top:0; }
    70% { top:10px; }
    80% { top:-5px; }
    90% { top:10px; }
    100% { top:0; }
  }

 /* #Logos
================================================== */
#logos{
	position: relative;
	margin: 0 auto;
	text-align:center;
	width: 100%;
	background:#101010;
	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
	z-index:2;
}
.logos-wrap{
	position: relative;
	float:left;
	display:inline-block;
	text-align:center;
	margin: 0 auto;
	width: 16.666666666666666666666666666666666%;
	overflow:hidden;
	z-index:2;
	cursor:pointer;
}
.logos-wrap img{
	width:60%;
	height:auto;
	margin-left:20%;
	margin-right:20%;
	display:block;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}
.logos-wrap:hover img{
	opacity:.7;
}

/* #Media Queries
================================================== */
@media only screen and (max-width: 800px) {
	h1 { font-size: 28px; line-height:28px; }
	#royal_preloader.text .loader {
	    letter-spacing: 2px;
	    font-size: 26px;
	}
	.logo{
		width:80px;
		height:50px;
		left:10px;
		top:10px;
		background:url('../images/logo.png') no-repeat center center;
		background-size:80px 50px;
	}
	.cbp-af-header.cbp-af-header-shrink .logo{
		width:80px;
		height:50px;
		left:10px;
		top:10px;
		background:url('../images/logo.png') no-repeat center center;
		background-size:80px 50px;
		-webkit-transition : all 0.5s ease-out;
		-moz-transition : all 0.5s ease-out;
		-o-transition :all 0.5s ease-out;
		transition : all 0.5s ease-out;
	}
	.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a {
	    border-bottom:none;
	}
	.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a:hover {
	    border-bottom:none;
		background:none;
	}
	.cbp-af-header.cbp-af-header-shrink ul.slimmenu li {
		background:none;
	}
	ul.slimmenu li a: {
	    border-bottom:none;
	}
	ul.slimmenu li a:hover {
	    border-bottom:none;
		background:none;
	}
	ul.slimmenu li {
		background:none;
	}
	ul.slimmenu li > ul {
	  width: 100%;
		text-align:right;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.prev {
		left:100px;
	}
	.next {
		right:100px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.big-text {
		margin-top:-40px;
		font-size: 40px;
		line-height:40px;
	}
	.small-text {
		margin-top:25px;
	}
	.social-top{
		margin-top:65px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	.flipWrapper {
		height: 236px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.big-text {
		margin-top:-40px;
		font-size: 30px;
		line-height:30px;
	}
	.small-text {
		margin-top:20px;
		font-size: 20px;
		line-height:20px;
	}
	.social-top{
		margin-top:50px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	#about svg{
		display:none;
	}
	.flipWrapper {
		height: 420px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
	.facts-line{
		display:none;
	}
	.logos-wrap{
		width: 33.3333333333333333333333333%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.big-text {
		margin-top:-60px;
		font-size: 20px;
		line-height:20px;
	}
	.big-text span{
		padding-left:15px;
		padding-right:15px;
		margin-bottom: 360px;
	}

	.big-text2 {
		padding-top:7px !important;
		padding-bottom:7px !important;
		line-height: 1.9;
	}

	.small-text {
		margin-top:40px;
		font-size: 14px;
		line-height:14px;
	}
	.social-top{
		margin-top:90px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	#about svg{
		display:none;
	}
	.flipWrapper {
		height: 300px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
	.facts-line{
		display:none;
	}
	.logos-wrap{
		width: 50%;
	}
	.project-info{
		width:200px;
	}
}
@media only screen and (max-width: 319px) {
	.big-text {
		margin-top:-30px;
		font-size: 15px;
		line-height:15px;
	}
	.big-text span{
		padding-left:0;
		padding-right:0;
		padding-bottom:0;
		border:none;
	}
	.small-text {
		margin-top:0;
		font-size: 14px;
		line-height:14px;
	}
	.social-top{
		margin-top:20px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	#about svg{
		display:none;
	}
	.flipWrapper {
		height: 220px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
	.facts-line{
		display:none;
	}
	.logos-wrap{
		width: 50%;
	}
	.project-info{
		width:200px;
	}
}

/* #Font-Face
================================================== */
@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: kremlin;
  src: url(../css/font/kremlin.ttf);
}
