

.big-text span{
	border-left:3px solid #e74c3c;
	border-right:3px solid #e74c3c;
}
ul.slimmenu li a:hover {
    border-bottom:1px solid #e74c3c;
}
ul.slimmenu li ul li a:hover {
    border-bottom:1px solid #e74c3c;
}
.list-social li.icon-soc a {
	color: #e74c3c;
}
.line-drawing path {
	stroke: #e74c3c;
}
h1 span:before  {
	color: #e74c3c;
}
h1 span:after  {
	color: #e74c3c;
}

h5:before  {
	color: #e74c3c;
}
h5:after  {
	color: #e74c3c;
}
/* Solid border */
hr.solid {
  border-top: 2px solid #e74c3c;
}

.team-social li.icon-team a {
	color:#e74c3c;
}
.facts-wrap-num{
	color:#e74c3c;
}
.portfolio-box h4{
	color:#e74c3c;
}
#action p {
	color:#e74c3c;
}
.pace .pace-progress {
  background: #e74c3c;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #e74c3c, 0 0 5px #e74c3c;
}
.pace .pace-activity {
  border-top-color: #e74c3c;
  border-left-color: #e74c3c;
}
.icon-left1{
	color:#e74c3c;
}
.icon-right1{
	color:#e74c3c;
}
.services-offer .services-icon{
	color:#e74c3c;
}
.services-offer .services-link:hover{
	background:#e74c3c;
}
.featured{
	border-top:3px solid #e74c3c;
}
.services-offer:hover{
	border-top:3px solid #e74c3c;
}
.icon-contact1{
	color:#e74c3c;
}
.icon-footer{
	color:#e74c3c;
}
.icon-test  {
	color:#e74c3c;
}
.bx-wrapper .bx-controls-direction a {
	background-color:#e74c3c;
}
#footer .back-top{
	color:#e74c3c;
}
