﻿/* Place Your Custom Styles Here */

.hide {
  display: none
}

li.backtotop span {
  display: block;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-variant-ligatures: common-ligatures;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  transform: translate(0, -47px) rotate(-90deg);
}

  .bg-transparente {
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 15px;

  }
